<!-- INCLUDE HEAD -->
<%- include("../partials/head.ejs") %>
<!-- INCLUDE NAV -->
<%- include("../partials/nav.ejs") %>

<div class="form-box">
	<div class="heading"> Prijava</div>
	<div class="form-container">
		<input type="text" />
		<input type="text" />
		<div class="flex">
			<a href="/registracija">
				<span>Nemate raÄun?</span>
				<span>Registrirajte se</span>
			</a>
			<button> Prijavite se </button>
		</div>
	</div>
</div>

<!-- INCLUDE FOOTER -->
<%- include("../partials/footer.ejs") %>
