<!-- INCLUDE HEAD -->
<%- include("../partials/head.ejs") %>
<!-- INCLUDE NAV -->
<%- include("../partials/nav.ejs") %>

<div class="form-box">
	<div class="heading"> Registracija</div>
	<div class="form-container">
		<div class="small-inputs">
			<input type="text" name="" id="" />
			<input type="text" name="" id="" />
		</div>
		<input type="text" />
		<input type="text" />
		<div class="small-inputs">
			<input type="text" name="" id="" />
			<input type="text" name="" id="" />
		</div>
		<div class="small-inputs">
			<input type="text" />
		</div>
		<div class="flex">
			<a href="/prijava">
				<span>Imate raÄun?</span>
				<span>Prijavite se</span>
			</a>
			<button> Prijavite se </button>
		</div>
	</div>
</div>

<!-- INCLUDE FOOTER -->
<%- include("../partials/footer.ejs") %>
