<!-- INCLUDE HEAD -->
<%- include("./partials/head.ejs") %>
<!-- INCLUDE NAV -->
<%- include("./partials/nav.ejs") %>

<h1> Error 404 </h1>
<h2> Oops, stranica nije pronađena! </h2>

<!-- INCLUDE FOOTER -->
<%- include("./partials/footer.ejs") %>
