<!-- INCLUDE HEAD -->
<%- include("../partials/head.ejs") %>
<!-- INCLUDE NAV -->
<%- include("../partials/nav.ejs") %>

<div class="content">
   <div class="car-box first">
      <div class="big-box">
         <img src="/images/car.jpg" alt="car" />
      </div>
      <div class="small-box">
         <input type="text" />
         <input type="text" />
         <button>Rezerviraj</button>
      </div>
   </div>

   <div class="car-box second">
      <div class="small-box"></div>
      <div class="big-box"></div>
   </div>
</div>

<!-- INCLUDE FOOTER -->
<%- include("../partials/footer.ejs") %>
