<!-- INCLUDE HEAD -->
<%- include("../partials/head.ejs") %>
<!-- INCLUDE NAV -->
<%- include("../partials/nav.ejs") %>

<div class="content">
	<!-- FILTERS CONTENT -->
	<div class="filters">
		<div class="inputs">
			<input type="text" />
			<input type="text" />
			<input type="text" />
			<div class="small-inputs">
				<input type="text" />
				<input type="text" />
			</div>
			<input type="text" />
			<input type="text" />
		</div>
		<button> PRETRAŽI </button>
	</div>

	<!-- PRODUcTS/CARS CONTENT -->
	<div class="cars">
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
		<div class="car">
			<div class="description"></div>
		</div>
	</div>

	<!-- PAGINATION -->
	<div class="pagination">
		<div class="block"></div>
		<div class="block">1</div>
		<div class="block">
			<span> ... </span>
		</div>
		<div class="block">6</div>
		<div class="block active">7</div>
		<div class="block">8</div>
		<div class="block">...</div>
		<div class="block">17</div>
		<div class="block"></div>
	</div>
</div>

<!-- INCLUDE FOOTER -->
<%- include("../partials/footer.ejs") %>
